<h1>Top three companies by level of interest</h1>
<ol>
  <% @company.each do |k, v| %>
  <li> <%= "#{Company.find(k).name}'s jobs have a #{v} average levl of Interest" %></li>
  <% end %>
</ol>

<h1>Jobs by level of interest</h1>
<% @job.each do |interest, num| %>
<p><strong><%="#{num.to_s}"%></strong> <%= "Jobs with a level of interest of #{interest}"%> </p>
<% end %>


<h2>Number of jobs by City</h2>
<% freq = Hash.new(0)
@jobs.each { |x| freq[x] += 1 } %>
<% @final = freq.map{ |key, value| "#{key}"} %>
<% @final2 = freq.map{ |key, value| "#{value}"} %>
<% @final3 = @final.zip(@final2).flatten.compact %>
<% @h = Hash[*@final3] %>
<% @h.each do |key, value| %>
  <p><%= link_to "#{key}: #{value}", ("#{jobs_path}""?location=""#{key}") %></p>
  <% end %>
