body {
  padding-top: 50px;
  text-align: center;
}
.starter-template {
  text-align: center;
}

.interest li {
  display:  inline-block;
  padding: 3px;

}

p {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  padding: 5px;
}

h1 {
  color: #15048E;
  font-family: futura;
  font-weight: bold;
}

h4 {
  color: #15048E;
  font-family: futura;
  font-size: 20px;
}

.company li{
  font-size: 20px;
}
